nav.navbar {
    background-color: #FFFFFF;
}

form button.signIN {
    color: #333;
    padding-right: 0px;
    padding-left: 0px;
}

.kuma-hend {
    text-align: right;
}

#navbarResponsive {
    text-align: center;
}

.kuma-login {
    
    @media (max-width: 767px) {
        margin-top: 8px;
        padding-top: 8px;
        border-top: 1px solid #dddddd;
    }
}
.title-myweb {
    background: #FF0000;
    color: #FFFFFF;
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
}