<div class="box-kuma-login col-xs-12">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
      <form class="col-xs-12 col-sm-12">
        <div class="form-group col-xs-12 col-sm-10 col-md-10 offset-sm-1 offset-md-1">
          <label for="userEmail1">Email</label>
          <input type="email" class="form-control" id="userEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group col-xs-12 col-sm-10 col-md-10 offset-sm-1 offset-md-1">
          <label for="tPassword1">Password</label>
          <input type="password" class="form-control" id="tPassword1" placeholder="Password">
          <button class="btn btn-link">ลืมรหัสผ่าน</button>
        </div>
        <div class="group-button-login col-xs-12 col-sm-10 col-md-10 offset-sm-1 offset-md-1">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              จำการเข้าระบบครั้งต่อไป
            </label>
          </div>
          <button type="submit" class="btn btn-primary main-btn-login ">Login</button>
          <hr>
        </div>
        
        <div class="autOlogin">
          <button class="btn facebook-btn"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" height="24" width="24" w class="_55a2"><path fill="white" d="
          M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
          11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
          11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
          15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
          11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z"></path></svg>facebook</button>
          <button class="btn google-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="24" width="24"><g fill="none" fill-rule="evenodd"><path d="M482.56 261.36c0-16.73-1.5-32.83-4.29-48.27H256v91.29h127.01c-5.47 29.5-22.1 54.49-47.09 71.23v59.21h76.27c44.63-41.09 70.37-101.59 70.37-173.46z" fill="#4285f4"/><path d="M256 492c63.72 0 117.14-21.13 156.19-57.18l-76.27-59.21c-21.13 14.16-48.17 22.53-79.92 22.53-61.47 0-113.49-41.51-132.05-97.3H45.1v61.15c38.83 77.13 118.64 130.01 210.9 130.01z" fill="#34a853"/><path d="M123.95 300.84c-4.72-14.16-7.4-29.29-7.4-44.84s2.68-30.68 7.4-44.84V150.01H45.1C29.12 181.87 20 217.92 20 256c0 38.08 9.12 74.13 25.1 105.99l78.85-61.15z" fill="#fbbc05"/><path d="M256 113.86c34.65 0 65.76 11.91 90.22 35.29l67.69-67.69C373.03 43.39 319.61 20 256 20c-92.25 0-172.07 52.89-210.9 130.01l78.85 61.15c18.56-55.78 70.59-97.3 132.05-97.3z" fill="#ea4335"/><path d="M20 20h472v472H20V20z"/></g></svg> Google</button>
        </div>
      </form>
    </div>
  </div>
</div>
