/* You can add global styles to this file, and also import other style files */

$bac-color: #ECEFF1;
$box-bac-coloe: #FFFFFF;

@mixin set-padding-margin($PXs) {
    padding: PXs;
    margin: PXs;
}

html,body {
    background-color: $bac-color;
    @include set-padding-margin(0px);
}