/* You can add global styles to this file, and also import other style files */

$bac-color: #ECEFF1;
$box-bac-coloe: #FFFFFF;
@import url('https://fonts.googleapis.com/css?family=Kanit');

@mixin set-padding-margin($PXs) {
    padding: PXs;
    margin: PXs;
}

html,body {
    background-color: $bac-color;
    font-family: 'Kanit', sans-serif;
    @include set-padding-margin(0px);
}