@media (max-width: 767px) {
    .img-carousel {
        display: none;
    }
}

.container-fluid.img-carousel {
    padding: 0;
    margin: 0;
}

.carousel-item {
    img {
        width: 100%;
        height: 500px;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 13px;
    color: rgba(213, 213, 213, 1);
    text-shadow: none;
    
}